.card-chart {
  margin-left: -50px;
}

.card-body {
  width: 83%;
}

.cards {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 7px;
  width: 100%; /* Adjust the width as needed (100% means full width of the parent container) */
  max-width: 300px; /* Limit the maximum width if needed */
}

.card-money {
  background: rgb(231, 231, 255);
}

.card-client {
  background: rgba(239, 255, 239, 0.753);
}

.card-sale {
  background: rgba(255, 225, 230, 0.726);
}
