.form-controll{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 15px;
    outline-color: rebeccapurple;
}
.create-ct {
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    background: rgb(73, 73, 253);
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .create-ct:hover {
    color: #fff;
    background: rgb(2, 2, 221);
  }
  
  /* Style for the icons */
  .icon {
    font-size: 20px;
    /* Adjust the size of the icons */
    color: #000;
    /* Default color */
    margin-right: 10px;
    /* Space between icons */
    cursor: pointer;
    position: relative;
    /* To position the tooltip */
  }
  
  /* Edit Icon style */
  .edit-icon {
    color: blue !important;
  }
  
  .edit-icon:hover {
    color: #ffeb3b;
  }
  
  /* Delete Icon style */
  .delete-icon {
    color: red;
  }
  
  .delete-icon:hover {
    color: #ffcdd2;
  }
  
  /* Tooltip text */
  .icon[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    /* Get the text from the data-tooltip attribute */
    position: absolute;
    top: -20px;
    /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    /* Dark background */
    color: #fff;
    /* White text */
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 10px;
    white-space: nowrap;
    z-index: 10;
  }
  .add-categories, .update-categories {
    padding: 10px 25px;
    background: rgb(73, 73, 253);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: none;
    color: #ffff;
  }
  .add-categories:hover, .update-categories:hover{
    background: rgb(2, 2, 221);
  }
  .update-categories{
    width: 170px;
  }
  .update-cate{
    border: 1.3px solid rgb(150, 150, 150);
  }
  


