
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.create-content{
    background:#fff; 
    margin-left: 260px !important; 
}
.form-group{
    margin-left: 0px;
}
.btn-new-product{
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    background: rgb(37, 37, 255);
    color: #fff;
}
.btn-new-product:hover{
    background-color: darkblue;
    text-decoration: none;
    color: #fff;
}
.image-add{
    height: 46px;
}




