* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Full height of the screen */
    background-color: #f4f4f4;
}

.logout-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 540px;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #ddd;
}

.user-info, .user-pass, .user-email {
    background: #f9f9f9;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}
.user-email{
    text-align: start;
}
p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.logout-btn {
    margin-top: 15px;
}

.logout-btn a {
    display: inline-block;
    padding: 10px 20px;
    background: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.logout-btn a:hover {
    background: #c0392b;
}

.user-info, .user-pass {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative;
}

.blur-text {
    filter: blur(5px); /* Initially blur the text */
    transition: 0.3s;
}

/* Position eye icon absolutely to the right */
.toggle-icon {
    cursor: pointer;
    font-size: 18px;
    color: #555;
    transition: 0.3s;
    position: absolute;
    right: 10px; /* Align it to the right */
}

.toggle-icon:hover {
    color: #000;
}
