.container-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
}
#productTable{
    margin: 0 auto;
}
@media (max-width: 992px) {
    .container-purchase {
        flex-direction: column;
        align-items: center;
    }
}
.form-control{
    padding-left: 5px;
    border: 1px solid gray;
    width: 90px;
}
.img {
    max-width: 100px;
    max-height: 40px;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
}

.purchase-card {
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}

.purchase-card .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.purchase-card .card-body {
    text-align: center;
}

.purchase-card .card-text {
    font-size: 1.1rem;
}

.purchase-card button {
    margin-top: 10px;
}

.bg-info{
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}